styles

body {
    background-color: rgb(219, 57, 211);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.pizza {
    border: 1px solid burlywood;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 2em;
    width: 20em;
    display: inline-block;
    min-height: 30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
   
}

.medium_pizza {
    background-color: rgb(221, 218, 31);
flex: 1
}

.large_pizza {
    background-color: rgb(65, 42, 165);
    flex:2
}

.small_pizza {
    background-color: rgb(56, 200, 63);
    flex:1
}

.contact_us {
    background-color: rgb(159, 202, 79);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.special{
    background-color: black;
    color: aliceblue;
    margin: 0em;
}
@media (min-width: 760px) {

    body {
        background-color: rgb(121, 211, 169);
       
    }

@media (min-width: 960px) {

    body {
        background-color: rgb(141, 59, 122);
       
    }
   
}
}